/* its for the font */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap'); 

/* its for the arrow symbol */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    --font-crimsonpro: "Crimson Pro", serif;
    --font-monstserrat: "Montserrat", sans-serif;
    --font-lora: "Lora", serif;
    --main-color-bl: #181719;
    --sec-color-wh: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*
----------
Hello!

thank u for checking my code
i've manage the code and add comment a lil bit in order to make it easier to understand
what im doing. have a great day!

PandaGenduts

---Table of Content---

1. header
    1.1. the nav and the active marker
    1.2. underline active marker
    
    oh, the hamburger is pure css too
    
2. content (a long one.. u can check it urself)
----------
*/

section {
    min-height: 100vh;
    background-color: var(--main-color-bl);
    padding: 10px 20px;
    position: relative;
    overflow-y: auto;
}

/*
----------
1. start header 
----------
*/

.mainHeader {
    max-width: 1200px;
    height: 50px;
    margin: auto;
    display: flex;
}

.headerLeft {
    display: flex;
    align-items: center;
    flex: 1;
}

.headerLeft a {
    border: 1px solid #fff;
    padding: 7px;

    text-transform: uppercase;
    font-family: var(--font-crimsonpro);
    font-weight: 200;
    font-size: 14px;
    line-height: 15.56px;
    color: #fff;
    z-index: 2;
}

.nav-menu a {
    font-family: var(--font-monstserrat);
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
    color: #fff;
    text-transform: capitalize;
}

/* 1.1 the nav & the active marker*/

.nav-bar {
    height: inherit;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu {
    height: inherit;

    display: flex;
    align-items: center;
    gap: 50px;
    transition: 0.3s ease;
    z-index: 10;
}

.hamburger {
    display: none;
    z-index: 11;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 5px 0;
    transition: 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* 1.2 underline active marker */

.nav-menu li {
    position: relative;
}

.nav-menu li::before {
    content: "";
    width: 0%;
    height: 2px;
    transition: 0.3s ease;

    position: absolute;
    bottom: -10px;
    right: 0;
}

.nav-menu li:hover::before {
    width: 100%;
    background-color: lightgray;
}

.nav-menu li.active::before {
    width: 100%;
    background-color: white;
}


/*
----------
end header 
----------
*/


/*
----------
content 
----------
*/

.container {
    min-height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.content {
    max-width: 1200px;
    min-height: 600px;
    /* background-color: lightcoral; only active when layouting */
    display: flex;
}

.content-left {
    display: flex;
    flex: 1;
    /* background-color: lightgreen; only active when layouting */
    align-items: center;
}

h1 {
    font-style: var(--font-lora);
    font-weight: 500;
    font-size: 48px;
    line-height: 61.44px;
    color: #fff;
}

.content-left p {
    margin: 45px 0;
    padding-right: 25%;

    font-style: var(--font-monstserrat);
    font-size: 24px;
    line-height: 29.26px;
    word-spacing: 5px;
    color: #fff;
}

.content-left a {
    font-family: var(--font-monstserrat);
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
    color: #fff;
    /* display: flex; */
}

.material-symbols-outlined {
    margin-left: 7px;
    vertical-align: middle;
}

.content-right {
    display: flex;
    flex: 1.4;
    /* background-color: lightslategray; only active when layouting */ 
    align-items: center;
}

/* this is used to make the .content-over relative to the img */
.fix-ratio {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.content-right img {
    max-width: 100%;
}

.content-over {
    width: 390px;
    height: 189px;
    padding: 12px 120px 12px 20px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
    background-color: var(--main-color-bl);

    position: absolute;
    bottom: -60px;
    right: 25px;
}

.content-over img {
    height: 50px;
    width: 50px;
    margin-right: 13px;
    margin-bottom: 20px;
    border-radius: 50%;
    float: left;
}

.content-over p:nth-child(2) {
    font-family: var(--font-monstserrat);
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    text-transform: capitalize;
    color: #fff;
}

.content-over p:nth-child(3) {
    font-family: var(--font-monstserrat);
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    color: #828282;
}
.content-over p:nth-child(4) {
    clear: left;

    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 24px;
    line-height: 30.72px;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 5px;
    font-family: var(--font-monstserrat);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    color: #A9A9A9;
}

footer a:first-child {
    color: inherit;
    font-weight: 700;
}

footer a:last-child {
    color: inherit;
}

/* this is for laptop only */
@media (max-width: 1366px) and (min-width: 1366px) {
    .content-right img {
        max-width: 80%;
    }
    
    .content-over {
        bottom: -37px;
    }
}

/* this is for tablet */
@media (max-width: 1000px) {
    section {
        padding: 10px 40px;
    }

    .container {
        padding: 0 40px;
    }

    .content {
        flex-direction: column;
    }

    .container-left {
        padding: 50px 0;
    }
}

/* this is for mobile or any similar device */
@media (max-width: 767px) {
    section {
        padding: 10px 20px;
    }
    
    .hamburger {
        display: block;
    }

    .nav-menu {
        opacity: 0;
        width: 100%;
        height: 100vh;

        background-color: var(--main-color-bl);
        flex-direction: column;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .nav-menu.active {
        opacity: 1;
    }

    .container {
        padding: 0 20px;
    }

    .content-over {
        width: 300px;
        height: 138px;
        right: 15px;
    }

    h1 {
        font-size: 36px;
        line-height: 46.08px;
    }

    .content-left p {
        margin: 20px 0;
        font-size: 14px;
        line-height: 17.07px;
    }

    .content-left a {
        font-size: 14px;
        line-height: 17.07px;
    }

    .content-over p:nth-child(2) {
        font-size: 12px;
        line-height: 14.63px;
    }

    .content-over p:nth-child(3) {
        font-size: 10px;
        line-height: 12.19px;
    }

    .content-over p:nth-child(4) {
        font-size: 18px;
        line-height: 23.04px;
    }
}

/* this is for small mobile boi */
@media (max-width: 375px) {
    
    section {
        min-height: 750px;
    }

    .content-left {
        align-items: flex-end;
    }

    .container-left {
        padding: 0 0;
    }

    .content-left p {
        padding-right: 20%;
    }

    .content-over {
        width: 230px;
        height: 138px;
        right: 15px;

        padding: 12px 60px 12px 20px;
    }
}

/* this is for mobile landscape */
@media (max-width: 1000px) and (max-height: 500px) {
    section {
        min-height: 1200px;
    }
}
